{% extends "layout.html" %}

{% block title%}Дом языков{% endblock %}


{% block main %}

<div class="my-3" style="border-radius: 32px; background-color: #9fc5a9; background-position: center center; border-color: transparent; border-style: solid;">
  <div class="my-5">
    <div class="d-flex justify-content-center"><h1 style="font-size: max(1em, min(4em, calc(100vw * 4 / 75)));">HØME <u>of</u> LANGUAGES</h1></div>
    <div class="d-flex justify-content-center"><h2 style="font-size: max(1em, min(2em, calc(100vw * 2 / 75)));">Feel home and speek English</h2></div>
  </div>
</div>

<div class="my-3" style="border-radius: 32px; background-color: #f7f7f8; background-position: center center; border-color: transparent; border-style: solid;">
  <div class="modal modal-signin position-static d-block" tabindex="-1" role="dialog" id="modalSignin">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-5 shadow">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <!-- <h5 class="modal-title">Modal title</h5> -->
          <h2 class="fw-bold mb-0">Укажите ваши контакты</h2>
          <!--<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
        </div>

        <div class="modal-body p-5 pt-0">
          <form class="" action="/login" method="post">
            <div class="form-floating mb-3">
              <input type="text" class="form-control rounded-4" id="floatingInput" placeholder="Имя">
              <label for="floatingInput">Имя</label>
            </div>
            <div class="form-floating mb-3">
              <input type="tel" class="form-control rounded-4" id="floatingInput" placeholder="Телефон">
              <label for="floatingInput">Телефон</label>
            </div>
            <div class="form-floating mb-3">
              <input type="email" class="form-control rounded-4" id="floatingPassword" placeholder="E-mail">
              <label for="floatingPassword">E-mail</label>
            </div>
            <button class="w-100 mb-2 btn btn-lg btn-danger rounded-4 btn-primary" type="submit">Отправить заявку</button>
            <small class="text-muted">Отправляя заявку, вы соглашаетесь с условиями обработки персональных данных.</small>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
var items = $('main div');
items.css('opacity', 0);
for (var i = 0; i < items.length; i++) {
  $(items[i]).delay(i * 400).animate({ opacity: 1 }, 500);
}
</script>

{% if not session.user_id %}

{% endif %}

{% endblock %}
